repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.14.5
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      args: [--line-length=79]
- repo: https://github.com/PyCQA/bandit
  rev: '1.8.6'
  hooks:
    - id: bandit
      args: ["-c", "pyproject.toml"]
      additional_dependencies: [".[toml]"]
- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.7
  hooks:
    - id: docformatter
      additional_dependencies: [tomli]
      args: ["--black"]
      # only apply to the package dir, not the tests
      files: ^medunda/src/.*$
- repo: https://github.com/fpgmaas/deptry.git
  rev: 0.24.0
  hooks:
    - id: deptry
      entry: deptry
      args: ["src", "--config", "pyproject.toml"]
